<div ng-repeat="message in messages track by $index">
	<div class="chat-box-left">
	    {{message.data}}
	</div>
	<div class="chat-box-name-left">
	    <img src="img/u.gif" class="img-circle" />
	    -  {{message.sender.userName}}
	</div>
	<hr class="hr-clas" />
<!--	<div class="chat-box-right">
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	   Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</div>
	<div class="chat-box-name-right">
	    <img src="img/me.gif" alt="bootstrap Chat box user image" class="img-circle" />
	    - Romin Royeelin
	</div>
	<hr class="hr-clas" /> -->
</div>
