			<form name="sendform" class="form-horizontal" role="form">
                <div class="input-group">
                    <input type="text" class="form-control" name="message" ng-model='message' placeholder="Введите текст сообщения..." required>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit" ng-click="send()" ng-disabled="!sendform.message.$valid">ОТПРАВИТЬ</button>
                    </span>
                </div>
			</form>