<div class="row pad-top pad-bottom">


    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6">
        <div class="chat-box-div">
            <div class="chat-box-head">
                СООБЩЕНИЯ В ЧАТЕ
				<button type="button" class="btn btn-info btn-xs pull-right" ng-click="logoff()">
	                <span class="glyphicon glyphicon-log-out"></span>
                </button>
            </div>
            <div class="panel-body chat-box-main" ui-view="messages">

            </div>
            <div class="chat-box-footer" ui-view="send">
            </div>

        </div>

    </div>
<!--    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="chat-box-online-div">
            <div class="chat-box-online-head">
                УЧАСТНИКИ
            </div>
            <div class="panel-body chat-box-online" ui-view="participants">

            </div>

        </div>

    </div>
-->
</div>
