<div ng-repeat="participant in participants track by $index">
	<div ng-if="participant.isMe">
		<div class="chat-box-online-left">
		    <img src="img/me.gif" class="img-circle" />
		    -  {{participant.userName}}
		    <br />
		</div>
		<hr class="hr-clas-low" />
	</div>
	
	<div ng-if="!participant.isMe">
		<div class="chat-box-online-right">
		    <img src="img/u.gif" alt="bootstrap Chat box user image" class="img-circle" />
		    -  {{participant.userName}}
		    <br />
		</div>
		<hr class="hr-clas-low" />
	</div>
</div>
